<body class="bg-body-tertiary">
  <!-- ### debut menu horizontal ### !-->
  <aside
    class="collapse show collapse-horizontal col-sm-2 p-3 border-end bg-body-tertiary"
    id="collapseWidthExample"
  >
    <a style="display: flex; align-items: center">
      <span style="display: flex; justify-content: center; width: 100%">
        <img src="assets/img/logo_v2.png" alt="logo" height="80" width="110" />
      </span>
    </a>

    <hr />

    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link link-body-emphasis" aria-current="page">
          <p class="bi bi-house-door" style="position:fixed;"> Home</p><br>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <p class="bi bi-speedometer2" style="position:fixed;"> Dashboard</p><br>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <p class="bi bi-table" style="position:fixed;"> Orders</p><br>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <p class="bi bi-grid" style="position:fixed;"> Products</p><br>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <p class="bi bi-person-circle" style="position:fixed;"> Customers</p><br>
        </a>
      </li>
    </ul>

    <hr />

    <div class="dropdown py-2">
      <img
        src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-1/481081117_2946941145484022_2717288776568504193_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=110&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeGaliCfruYKW_D_ubny9u6kkqUHja5VPYqSpQeNrlU9itlgV1dwWtQsHpmMolEqrZnb-2H4sstoBAiajVbi8PqZ&_nc_ohc=rfQV3E3l58oQ7kNvgEhQAx4&_nc_oc=AdjGhYK8wVYzFtV7War8Blo3ubQMR2mnyQdMVNIogjlo7gfGi0CiZduNJV1L3j4t1Bg&_nc_zt=24&_nc_ht=scontent.ftnr2-2.fna&_nc_gid=ABjhiggvCAui3I1DjCcToAx&oh=00_AYHIajvk0Mi6PKGCFrckpDFkdSaYW3-b1_VmSlEsqTMXUw&oe=67D672F0"
        alt=""
        width="30"
        height="30"
        class="rounded-circle me-2"
      />
      <span class="d-print-block">Faneva - ETU 00XXXX</span>
    </div>
    <div class="dropdown py-2">
      <img
        src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-1/471609824_2051737435265148_3307263038832725503_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=101&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeEtfQzt9xtligqZTRPB5K7tXdVIbJlC40Rd1UhsmULjREzP6GNsX183ifdmESoBNQpupqro48pJTcjYjER8iuIg&_nc_ohc=XgAU9Y8Aa9oQ7kNvgEQVWBJ&_nc_oc=Adg25i782dNALDW4iClhfM3PFs-hzHB6vZQo-d_PlJ7BXA89-MDz3ddrO0YDBU8gnf4&_nc_zt=24&_nc_ht=scontent.ftnr2-2.fna&_nc_gid=AOF1zOct0d4avpUsjVagQOY&oh=00_AYGNd6TLNAc3-DSIt3OCoKriyb4Rc213nFl36GwqPhIjNw&oe=67D674C4"
        alt=""
        width="30"
        height="30"
        class="rounded-circle me-2"
      />
      <span class="d-print-block">Ismaël - ETU 00XXXX</span>
    </div>
  </aside>
  <!-- ### fin menu horizontal #### !-->

  <!-- ### debut main content #### !-->
  <main
    class="col-sm-10 bg-body-tertiary"
    [ngClass]="{ 'col-sm-10': !isExpanded, 'col-sm-12': isExpanded }"
  >
    <!-- ### debut navbar #### !-->
    <nav
      class="navbar sticky-top navbar-expand-lg border-bottom bg-body-tertiary"
    >
      <div class="container-fluid">
        <button
          class="btn btn-outline-secondary"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseWidthExample"
          aria-expanded="true"
          aria-controls="collapseWidthExample"
          style="margin-right: 10px; padding: 0px 5px 0px 5px"
          id="sidebartoggle"
          (click)="changeClass()"
        >
          <i class="bi bi-arrows-expand-vertical"></i>
        </button>

        <button
          class="btn btn-outline-secondary"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasExample"
          aria-controls="offcanvasExample"
          style="margin-right: 10px; padding: 2px 6px 2px 6px"
          id="sidebarshow"
        >
          <i class="bi bi-arrow-bar-right"></i>
        </button>

        <a class="text-decoration-none">Garage</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="true"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDarkDropdown"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDarkDropdownMenuLink"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    src="assets/img/utilisateur.png"
                    alt="Profile"
                    width="30"
                    height="30"
                    class="rounded-circle me-2"
                  />
                  Rakoto Jean
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDarkDropdownMenuLink"
                >
                  <p class="m-2 text-center fw-bold">Rakoto Jean</p>
                  <p class="m-2 text-center">Manager</p>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"
                      ><i class="bi bi-box-arrow-right me-2"></i>Log out</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- ### fin navbar #### !-->

    <!-- ### debut template ### !-->
    <div class="container-fluid">
      <div class="row"></div>

      <!-- debut contenu ici -->
      <!-- ici le contenu -->
      <router-outlet></router-outlet>
      <!-- fin contenu ici -->

      <!-- footer -->
      <div class="row">
        <!-- Footer -->
        <footer class="bg-dark text-white py-4">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <h5>Garage Norma</h5>
                <p>Bakarta Reprezainty</p>
              </div>
              <div class="col-md-4">
                <h5>Horaires</h5>
                <p>Lun-Ven: 8h-18h<br />Sam: 9h-13h</p>
              </div>
              <div class="col-md-4">
                <h5>Contact</h5>
                <p>Tél: 01 23 45 67 89<br />Email: milay&#64;garageauto.fr</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- ### fin template ### !-->
  </main>

  <!-- pour ecran kely de miova le sidebar -->
  <div
    class="offcanvas offcanvas-start"
    data-bs-scroll="true"
    tabindex="-1"
    id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Garage</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link link-body-emphasis" aria-current="page">
            <p class="bi bi-house-door" style="position: fixed">Home</p>
            <br />
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-body-emphasis">
            <p class="bi bi-speedometer2" style="position: fixed">My site</p>
            <br />
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-body-emphasis">
            <p class="bi bi-table" style="position: fixed">Orders</p>
            <br />
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-body-emphasis">
            <p class="bi bi-grid" style="position: fixed">Products</p>
            <br />
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-body-emphasis">
            <p class="bi bi-person-circle" style="position: fixed">Customers</p>
            <br />
          </a>
        </li>
      </ul>
      <hr />
      <div class="dropdown py-2">
        <img
          src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-1/481081117_2946941145484022_2717288776568504193_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=110&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeGaliCfruYKW_D_ubny9u6kkqUHja5VPYqSpQeNrlU9itlgV1dwWtQsHpmMolEqrZnb-2H4sstoBAiajVbi8PqZ&_nc_ohc=rfQV3E3l58oQ7kNvgEhQAx4&_nc_oc=AdjGhYK8wVYzFtV7War8Blo3ubQMR2mnyQdMVNIogjlo7gfGi0CiZduNJV1L3j4t1Bg&_nc_zt=24&_nc_ht=scontent.ftnr2-2.fna&_nc_gid=ABjhiggvCAui3I1DjCcToAx&oh=00_AYHIajvk0Mi6PKGCFrckpDFkdSaYW3-b1_VmSlEsqTMXUw&oe=67D672F0"
          alt=""
          width="30"
          height="30"
          class="rounded-circle me-2"
        />
        <span class="d-print-block">Faneva - ETU 00XXXX</span>
      </div>
      <div class="dropdown py-2">
        <img
          src="https://scontent.ftnr2-2.fna.fbcdn.net/v/t39.30808-1/471609824_2051737435265148_3307263038832725503_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=101&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeEtfQzt9xtligqZTRPB5K7tXdVIbJlC40Rd1UhsmULjREzP6GNsX183ifdmESoBNQpupqro48pJTcjYjER8iuIg&_nc_ohc=XgAU9Y8Aa9oQ7kNvgEQVWBJ&_nc_oc=Adg25i782dNALDW4iClhfM3PFs-hzHB6vZQo-d_PlJ7BXA89-MDz3ddrO0YDBU8gnf4&_nc_zt=24&_nc_ht=scontent.ftnr2-2.fna&_nc_gid=AOF1zOct0d4avpUsjVagQOY&oh=00_AYGNd6TLNAc3-DSIt3OCoKriyb4Rc213nFl36GwqPhIjNw&oe=67D674C4"
          alt=""
          width="30"
          height="30"
          class="rounded-circle me-2"
        />
        <span class="d-print-block">Ismaël - ETU 00XXXX</span>
      </div>
    </div>
  </div>

  <!-- ### fin main #### !-->
</body>
