<div class="container">
    <div class="row">
      <!-- debut full calendar component -->
        <div class="col-sm-8">
            <full-calendar [options]="calendarOptions()">
                
            </full-calendar>
        </div>
      <!-- fin full calendar component -->

      <!-- début modification evenement -->
        <div class="card mt-2 py-3 col-sm-4" [ngClass]="{'d-none': !showUpdateRendezvous}">
          <form class="align-item-center" [formGroup]="modifFormulaire">
            <h4>⌚ Modifier Rendez Vous</h4>

            <p class="mt-3 px-2"><small> Choisir le mécanicien à attribuer cette tâche :</small></p>

            <div class="info-modif">

              <div class="form-modal">
                <label for="daterdv">Ancienne Date Rendez Vous : </label>
                
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"> 
                      <i class="bi bi-check2-circle"></i>
                    </span>
                  </div>
                  <input type="text" class="form-input" id="daterdv" value="{{ancienneDateHeureRendezVous}}" 
                    readonly >
                </div>
              </div>

              <div class="form-modal">
                <label for="daterdv">Nouvelle Date Rendez Vous : </label>
                
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"> 
                      <i class="bi bi-check2-circle"></i>
                    </span>
                  </div>
                  <input type="text" class="form-input" id="daterdv" value="{{nouvelleDateRendezVous | date:'d MMM y' }} | {{nouvelleHeureRendezVous}}" 
                    readonly >
                </div>
              </div>

              <div class="form-modal">
                <label for="service">Service : </label>
                
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"> 
                      <i class="bi bi-check2-circle"></i>
                    </span>
                  </div>
                  <input type="text" class="form-input" id="service" value="{{infoUpdate?.service_id.libelle}}" readonly >
                </div>
              </div>

              <div class="form-modal">
                <label for="client">Client : </label>
                
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"> 
                      <i class="bi bi-people"></i>
                    </span>
                  </div>
                  <input type="text" class="form-input" id="client" value="{{infoUpdate?.client_id.nom}} {{infoUpdate?.client_id.prenom}}" readonly >
                </div>
              </div>

              <div class="form-modal">
                <label for="voiture">Voiture : </label>
                
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"> 
                      <i class="bi bi-car-front-fill"></i>
                    </span>
                  </div>
                  <input type="text" class="form-input" id="voiture" value=" {{infoUpdate?.id_voiture.marque }} {{ infoUpdate?.id_voiture.modele}}" readonly >
                </div>
              </div>

            </div>

            <div *ngIf="mecanicienPropose" class="content d-flex">
              <div  class="col-sm-6 col-md-6 mt-3 px-2" *ngFor="let mecanicien of mecanicienPropose">
                <label class="card text-center p-2" for="{{mecanicien._id}}" >
                  <input type="radio" 
                    formControlName="mecanicien"
                    id="{{mecanicien._id}}"
                    value="{{mecanicien._id}}"
                    (change)="onMecanicienSelection()" />
                  
                  <span class="time">
                    <div class="title h6">
                      {{mecanicien.nom}} {{mecanicien.prenom}}
                    </div>
                    <div class="responsable">
                      <!-- <small>Mécanicien</small> -->
                    </div>
                  </span>

                </label>
              </div>            
            </div>
            
            <!-- message si aucun mécanicien disponible -->
            <div class="alert alert-primary d-flex align-items-center" role="alert" *ngIf="mecanicienPropose.length === 0">
              <i class="bi bi-info-circle"></i>
              <div class="mx-2">
                Aucun mécanicien disponible      
              </div>
            </div>
          

            <div class="row-button d-flex flex-row" style="justify-content: space-between;column-gap: 1em;">
              <button class="btn btn-warning mt-4 w-100"(click)="annulerModification()" >Annuler</button>

              <button class="btn btn-primary mt-4 w-100" [disabled]="!mecanicienSelectionne" (click)="validerModification()">Valider modification</button>
            </div>
            
          
          </form>
        </div>
      <!-- fin modification evenement -->

      <!-- début information rendez vous -->
        <div class="card mt-2 py-3 col-sm-4" [class.d-none] = "!showInfoRendezvous">
            <div class="align-item-center">

                <h4>🧰 Rendez Vous</h4>

                <div class="form-modal" [ngClass]="{'d-none': userRole == 'mécanicien'}">
                  <label for="mecanicien">Mécanicien : </label>
                  
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"> 
                        <i class="bi bi-people"></i>
                      </span>
                    </div>
                    <input type="text" class="form-input" id="mecanicien" value="{{ infoRendezVous?.mecanicien_id.nom || '' }} {{ infoRendezVous?.mecanicien_id.prenom || ''}}" readonly >
                  </div>
                </div>

                <div class="form-modal">
                    <label for="service">Date : </label>
                    
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"> 
                          <i class="bi bi-check2-circle"></i>
                        </span>
                      </div>
                      <input type="text" class="form-input" id="service" value="{{infoRendezVous?.date_rdv | date:'d MMM y'}} | {{infoRendezVous?.heure_rdv.hours}} h {{infoRendezVous?.heure_rdv.minutes !== 0 ? infoRendezVous?.heure_rdv.minutes : ''}} " 
                        readonly >
                    </div>
                </div>

                <div class="form-modal">
                    <label for="service">Service : </label>
                    
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"> 
                          <i class="bi bi-check2-circle"></i>
                        </span>
                      </div>
                      <input type="text" class="form-input" id="service" value="{{infoRendezVous?.service_id.libelle}}" readonly >
                    </div>
                </div>

                <div class="form-modal">
                    <label for="client">Client : </label>
                    
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"> 
                          <i class="bi bi-people"></i>
                        </span>
                      </div>
                      <input type="text" class="form-input" id="client" value="{{infoRendezVous?.client_id.nom}} {{infoRendezVous?.client_id.prenom}}" readonly >
                    </div>
                </div>

                <div class="form-modal">
                    <label for="contact">Contact client : </label>
                    
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"> 
                          <i class="bi bi-people"></i>
                        </span>
                      </div>
                      <input type="text" class="form-input" id="contact" value="{{infoRendezVous?.client_id.contact}}" readonly >
                    </div>
                </div>

                <div class="form-modal">
                    <label for="voiture">Voiture : </label>
                    
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"> 
                          <i class="bi bi-car-front-fill"></i>
                        </span>
                      </div>
                      <input type="text" class="form-input" id="voiture" value=" {{infoRendezVous?.id_voiture.marque }} {{ infoRendezVous?.id_voiture.modele}}" readonly >
                    </div>
                </div>

                <div class="form-modal">
                    <label for="immatriculation">Immatriculation : </label>
                    
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"> 
                          <i class="bi bi-car-front-fill"></i>
                        </span>
                      </div>
                      <input type="text" class="form-input" id="immatriculation" value="{{ infoRendezVous?.id_voiture.immatriculation || ''}}" readonly >
                    </div>
                </div>
            </div>

            <div class="row-btn d-flex h-100 align-items-end ">
              <div *ngIf="infoRendezVous?.etat === 5 && userRole === 'mécanicien' " class="w-100">
                <button class="btn btn-success w-100" (click)="commencerRendezVous()" > 
                  <i class="bi bi-clock" style="margin-right: 5px;"></i>
                  Commencer réparation
                </button>
              </div>

              <div *ngIf="infoRendezVous?.etat !== 5" class="w-100">
                <button class="btn btn-info w-100 text-white" (click)="consulterReparation()" > 
                  <i class="bi bi-eye" style="margin-right: 5px;"></i>
                  Consulter réparation
                </button>
              </div>

            </div>
        </div>
      <!-- fin information rendez vous -->
    </div>
</div>